.hidden {
	display: none;
}

#inventory {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 2em;
}

[id^=potteryItem--] {
	border: 2px solid black;
	margin: 2em;
	padding: 1em;
	min-width: 250px;
}

#restockButtonContainer {
	text-align: center;
}